@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1400px;
}
header{
    background-color:#011140 ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    align-items: center;
}
#titulo{
    flex-direction: column;
    padding: 10px;
    margin: 10px 20px;
}
div{
    border: 2px solid white;
    border-radius:20px ;
}
#titulo > h1{
    color: white;
}
li{
    display: inline-block;
    list-style: none;
    margin: 30px;
    font-size: 20px;   
}
a{
    color: white;
}
a:hover{
    color: #F21905;
    transition: 0.4s;
}
#inscreva{
    border: 2px solid #F21905;
    border-radius: 30px;
    padding: 3px;
}
#inscreva:hover{
    background-color:#F21905 ;
    color: white;
    border: 2px solid #F21905;

}
