@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family= Poppins: wght @200 & display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
  font-family: 'Poppins', sans-serif;
}
header{
  background-color: #011140;
  color: white;
  text-align: center;
  padding: 30px;
}
li{
  display: inline-block;
  margin: 20px;
}
h1{
  padding: 15px 15px 15px 0px;
}
a{
  color: white;
}
a:hover{
  color: #F21905;
  transition: 0.4s;
}
main{
  margin: 0 300px 0 300px;
}
.sobre-{
    display: flex;
    flex-direction: row;
}
p{
  padding: 5px;
  font-size: 16px;
  text-align: left;
  line-height: 1.6em;
}
#foto01{
  width: 200px;
  border-radius: 50%;
}
h2{
  padding-bottom: 20px;
  padding-top: 50px;
}
figure{
  display: flex;
  flex-direction: row;
}


@media  screen and (max-width: 580px) {
    nav{
        display: none;
    }
    #foto01{
        display: none;
    }
    main{
        margin: 0;
    }
}
