@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family= Sriracha & display = swap');
@import url('https://fonts.googleapis.com/css2?family= Source+Serif+Pro & display = swap');

:root{
    --font: 'Source Serif Pro', serif;
    --font01:'Sriracha', cursive;
}

body{
   background-image: linear-gradient(to bottom, #020873,#03258C);
    color: black;
    margin: 0 auto;
}
header{
    display: flex;
    flex-direction: center;
    background-color:#011140 ;
}
.titulo h1{
    margin: 0px 640px;
    flex-direction: column;
    padding: 0;
}
h1{
    text-align: center;
    color: white;
}  
li{
   display: inline-block;
   margin: 30px;
   font-size: 20px;
} 
a{
    color: white;
}
a:hover{
    color: #F21905;
    transition: 0.4s;
}
#inscrever{
    margin-right: 10px;
    border: 2px solid #F21905;
    padding: 5px;
    border-radius: 15px;
}
#inscrever:hover{
    background-color: #F21905;
    color: white;
}
hr{
    border: 1px solid black;
}
main{
    box-shadow: 5px 5px 5px 3px rgba(20, 20, 20, 0.226);
    line-height: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    padding: 10px;
    text-align: left;
    font-size: 20px;
}
#img01{
    font-family: var(--font);
}
h2{
    text-align: center;
    font-family: var(--font01);
}
article > h1{
    color: black;
    font-size: 40px;
}
footer{
    padding: 1px;
    margin: 0;
    background-color: #011140;
}
footer p{
    text-align: center;
    color: white;
    font-size: 20px;
}

/* aqui está o css da página inicial do meu site, e logo abaixo o responsivo da mesma*/

@media screen and (max-width: 580px){
    header{
        text-align: center;
        flex-direction: column;
    }
    .titulo h1{
        display: none;
    }
    div{
        display: flex;
        flex-direction: column;
    }
    ul{
        flex-direction: row;
        padding: 1px;
    }
    li{
        margin: 10px;
    }
    p{
        line-height: 2em;
        text-align: justify;
    }
    #titulo{
        border: none;
        padding-bottom: 0;
        
    }
    #inscrever{
        border: none;
        color:white ;
    }
    #inscrever:hover{
        transition: 0.4s;
    }

    main{
        margin: 0 20px 0 20px;
        text-align: center;
    }
    article{
        text-align: center;
    }
   footer{
      padding: 1px;
   }
   
   

}
@media screen and (max-width: 400px){
    #titulo{
        border: none;
        color:#011140 ;
    }
    #inscrever{
        border: none;
        color:white ;
        
    }
    li{
        margin: 2px;
    }
    
}